@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	/* COLOR
	--light-primary-color: white;
	--light-secondary-color: white;
	--dark-primary-color: #2c3e50;
    --dark-secondary-color: #34495e;
    */
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--font-color);
}

::-webkit-scrollbar-thumb {
	background: #2b3b4b;
}

::-webkit-scrollbar-thumb:hover {
	background: #263746;
}
/* CUSTOM SCROLLBAR */

.dark {
	--primary-color: #2c3e50;
	--secondary-color: #34495e;
	--font-color: #ecf0f1;
}

.light {
	--primary-color: #ecf0f1;
	--secondary-color: white;
	--font-color: #2c3e50;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

#theme {
	position: absolute;
	right: 0;
	position: absolute;
	right: 0;
	height: 80px;
	width: 100px;
	clip-path: polygon(30% 0, 100% 70%, 100% 0);
	background-color: var(--primary-color);
	cursor: pointer;
}

#theme i {
	height: 100%;
	width: 100%;
	font-size: 1.2em;
	text-align: right;
	padding: 0.5rem;
	color: var(--font-color);
}

body {
	height: 100vh;
	background-color: var(--secondary-color);
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
		'header main main main'
		'header main main main'
		'header main main main';
}

.line {
	height: 3px;
	width: 100%;
	background-color: var(--secondary-color);
}

/* BAHAGIAN HEADER */
header {
	padding: 0;
	margin: 0;
	grid-area: header;
	background-color: var(--primary-color);
	box-shadow: 0 0 5px black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* section 1 */
.image-header {
	flex: 1 0 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: slideDown 600ms ease-in-out;
}

.image-border {
	margin-top: 2rem;
	width: 180px;
	height: 180px;
	box-shadow: 0 0 6px var(--font-color);
	border-radius: 50%;
}

.image-border > img {
	height: 100%;
	background-size: contain;
}

.image-header > h2 {
	margin: 1.2rem 0 1.2rem 0;
	font-size: 1.2rem;
	color: var(--font-color);
}

/* section 2 */
.skill-content {
	flex: 2 0 60%;
	width: 80%;
	animation: slideRight 600ms ease-in-out;
}

.card-skill {
	margin: 1.2rem 0 1.2rem 0;
	width: 100%;
	height: 60px;
	text-align: center;
	color: var(--font-color);
	display: flex;
	flex-direction: column;
}

.card-skill > p {
	height: 100%;
}

.card-skill > .skill-bar {
	margin: 0.6rem auto 0.6rem auto;
	background-color: var(--secondary-color);
	width: 90%;
	height: 50%;
	box-shadow: inset 0 0 2px var(--font-color);
}

/* BAHAGIAN MAIN */
main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2.4rem;
}

.card {
	margin: 0.4rem;
	width: 80%;
	background-color: var(--font-color);
	color: var(--primary-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 24px;
	animation: slideDown 800ms ease-in-out;
}

.card > h1 {
	font-weight: 300;
}

.card > .card-header {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-header > i {
	transform: rotate(-180deg);
	transition: transform 200ms ease-in-out;
}

.card > .card-body {
	padding: 0.8rem 0 0.8rem 0;
	display: none;
}

.card-header > h1 {
	font-style: italic;
	width: 100%;
}

.card-header.active + .card-body {
	display: block;
	animation: fadeIn 350ms ease-in-out;
}

.card-header.active > i {
	transform: rotate(0deg);
	transition: transform 200ms ease-in-out;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1090px) {
	* {
		overflow: visible;
	}

	#theme {
		background-color: var(--secondary-color);
	}

	body {
		height: 200vh;
		grid-template-areas:
			'header header header'
			'main main main'
			'main main main';
	}

	header,
	main {
		height: max-content;
	}

	.image-border {
		box-shadow: none;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-24px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-24px);
	}
	to {
		transform: translateX(0px);
	}
}
