@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d4cbcb;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* CUSTOM SCROLLBAR */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	outline: none;
}

body {
	background-color: #f4f0f1;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

/* HEADER */
header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100px;
	justify-content: space-around;
	align-items: center;
	background-color: #f4f0f1;
	color: gray;
	transition: 0.6s all ease-in-out;
}

header > .logo {
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.4rem;
	transition: 0.6ms all ease-in-out;
}

header > nav > ul {
	display: flex;
}

header > nav > ul > li {
	text-align: center;
	width: 100px;
	padding: 12px;
	cursor: pointer;
	list-style: none;
	transition: 0.8ms all ease-in-out;
	border-radius: 5px;
}

header > nav > ul > li:hover {
	text-align: center;
	width: 100px;
	padding: 12px;
	background-color: rgb(170, 166, 166);
	color: white;
}

header > nav > ul > li > a {
	color: inherit;
	text-decoration: none;
}

/* HEADER STICKY */

header.sticky {
	display: flex;
	position: fixed;
	height: 45px;
	transition: 0.6s all ease-in-out;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: #3498db;
	color: white;
}

header.sticky > nav > ul > li:hover {
	text-align: center;
	width: 100px;
	padding: 12px;
	background-color: #2980b9;
	border-radius: 0;
}

/* HEADER STICKY END*/

/* HEADER END */

.container {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* PROFILE */

.profile {
	display: flex;
	height: 70%;
	width: 70%;
	margin: 5rem 0;
}

.profile-header {
	display: flex;
	flex: 1 1 40%;
	flex-direction: column;
}

.profile-header > .profile-header-upper {
	display: flex;
	justify-content: center;
}

.profile-header > .profile-header-upper > .profile-logo {
	margin-top: 5rem;
	height: 270px;
	width: 270px;
	border-radius: 50%;
	background-image: url(/img/Ammar.jpg);
	background-position: center;
	background-size: cover;
	transition: 0.4s ease-in-out all;
}

.profile-header > .profile-header-upper > .profile-logo:hover {
	box-shadow: 0 0 24px #3498db;
}

.profile-header > .profile-header-lower {
	display: flex;
	justify-content: center;
}

.profile-header > .profile-header-lower > a {
	font-size: xx-large;
	margin: 1.5rem;
	color: gray;
	font-weight: 700;
	transition: 250ms all ease-in-out;
}

.profile-header > .profile-header-lower > a:hover {
	font-size: xx-large;
	margin: 1.5rem;
	color: #3498db;
	font-weight: 700;
}

.profile-body {
	color: gray;
	display: flex;
	flex: 1 0 60%;
	flex-direction: column;
	margin-top: 10rem;
}

.profile-body > button {
	margin: 24px auto auto auto;
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #3498db;
	color: white;
	cursor: pointer;
}

.profile-body > button:hover {
	background-color: #2980b9;
}

.profile-body > button > a {
	text-decoration: none;
	color: inherit;
}

/* PROFILE END */

/* ABOUT */

.about {
	display: flex;
	height: 70%;
	width: 70%;
	background-color: white;
	box-shadow: 0 0 2px gray;
	margin: 5rem 0;
}

.about > .about-edu {
	display: flex;
	flex-direction: column;
	flex: 1 0 30%;
	align-items: center;
}

.about > .about-edu > p {
	margin-top: 1.4rem;
	border-radius: 5px;
	background-color: #2980b9;
	padding: 12px;
	width: 160px;
	text-align: center;
	font-weight: 700;
}

.about > .about-edu > .about-school {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2.6rem;
}

.about > .about-edu > .about-school > i {
	display: flex;
	color: white;
	font-size: 2rem;
	background-color: #2980b9;
	margin-top: 1.2rem;
	height: 70px;
	width: 70px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.about > .about-edu > .about-school > p {
	text-align: center;
	color: gray;
	width: 70%;
	margin-top: 0.6rem;
	font-size: smaller;
}

.about > .about-main {
	display: flex;
	flex-direction: column;
	flex: 1 0 70%;
	overflow: hidden;
}

.about > .about-main > .about-me {
	display: flex;
	flex: 1 0 45%;
}

.about > .about-main > .about-me > .about-me-explain {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid rgba(128, 128, 128, 0.2);
}

.about > .about-main > .about-me > .about-me-explain > h4 {
	border-radius: 5px;
	margin-top: 1.4rem;
	border-radius: 5px;
	background-color: #2980b9;
	padding: 12px;
	width: 160px;
	text-align: center;
	font-weight: 700;
}

.about > .about-main > .about-me > .about-me-explain > p {
	width: 80%;
	color: gray;
	margin-top: 0.6rem;
	text-align: center;
}

.about > .about-main > .about-skill {
	display: flex;
	flex: 1 0 55%;
}

.about > .about-main > .about-skill > .about-card-skill {
	display: flex;
	flex-direction: column;
	flex: 1 0 50%;
	border: 1px solid rgba(128, 128, 128, 0.2);
}

.about > .about-main > .about-skill > .about-card-skill > h4 {
	padding: 12px;
	margin: 1.4rem auto 0 auto;
	background-color: #2980b9;
	border-radius: 5px;
}

.about > .about-main > .about-skill > .about-card-skill > .skill {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.6rem;
	justify-content: center;
	align-items: center;
}

.about > .about-main > .about-skill > .about-card-skill > .skill > .skill-box {
	display: flex;
	align-items: center;
	background-color: #3498db;
	margin: 0.2rem;
	padding: 6px;
	text-align: center;
	justify-content: center;
	height: 50px;
	width: max-content;
}

.about
	> .about-main
	> .about-skill
	> .about-card-skill
	> .skill
	> .skill-box:hover {
	background-color: #348eca;
}

/* ABOUT END */

/* PORTFOLIO */

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem 0;
}

#portfolio > h1 {
	color: gray;
	margin-bottom: 2rem;
}

.portfolio-form {
	display: flex;
	justify-content: center;
	width: 80%;
	color: black;
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 0 1px gray;
	margin-bottom: 1.4rem;
}

.portfolio-form > img {
	flex: 1 1 50%;
	background-size: cover;
	background-position: center;
	height: 280px;
	width: 120px;
	border-radius: 10px;
	box-shadow: 0 0 6px gray;
}

.portfolio-form-body {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 2rem;
}

.portfolio-description > h1 {
	padding: 8px;
	background-color: #2980b9;
	width: max-content;
	color: white;
	border-radius: 5px;
	margin-bottom: 1.4rem;
}

.portfolio-description > h1 > a {
	text-decoration: none;
	color: inherit;
}

.portfolio-description > p {
	width: 70%;
}

/* PORTFOLIO END */

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
	body {
		display: none;
	}
}
